body {
    margin: 0;
    width: 100vw;
    max-height: 500px;
    background-color: #eeeeee;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    
}

a {
    color: #3f3f3f;
    text-decoration: none;
}

/*loading icon */

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: calc(100vh - 0px);
	z-index: 966;
	background: url(/web_images/simple-pre-loader/images/loader-64x/Preloader_2.gif) center no-repeat #fff;
	background-color: white;
}


/* whole app css */

.indexbladewholediv {
    width: 100vw;
    background-color: lightgray;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.fullpageindexpage {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    margin: 0px;
    position: absolute;
    -ms-transform: translate(0vw, 0px); /* IE 9 */
    -webkit-transform: translate(0vw, 0px); /* Safari */
    transform: translate(0vw, 0px);
    top: 0px;
    z-index: 1;
}

.fullpage1currentwims{
     width: 100vw;
     height: 50px;
     margin: 0px;
     position: absolute;
     -ms-transform: translate(100vw, 0px); /* IE 9 */
     -webkit-transform: translate(100vw, 0px); /* Safari */
     transform: translate(125vw, 0px);
     z-index: 100;
}

.fullpage2myprofile{
     width: 100vw;
     height: 100vh;
     /* background-color: red; */
     margin: 0px;
     position: absolute;
     -ms-transform: translate(100vw, 0px); /* IE 9 */
     -webkit-transform: translate(100vw, 0px); /* Safari */
     transform: translate(125vw, 0px);
     z-index: 10;
     background-color: lightgray;
}

.fullpage3newwim{
     width: 100vw;
     height: 100vh;
     /* background-color: yellow; */
     margin: 0px;
     position: absolute;
     -ms-transform: translate(100vw, 0px); /* IE 9 */
     -webkit-transform: translate(100vw, 0px); /* Safari */
     transform: translate(125vw, 0px);
     z-index: 10;
     background-color: lightgray;
}

.fullpage4search{
     width: 100vw;
     height: 100vh;
     /* background-color: orange; */
     margin: 0px;
     position: absolute;
     -ms-transform: translate(100vw, 0px); /* IE 9 */
     -webkit-transform: translate(100vw, 0px); /* Safari */
     transform: translate(125vw, 0px);
     z-index: 10;
     background-color: lightgray;
}

.fullpage5notifications {
     width: 100vw;
     height: 100vh;
     /* background-color: pink; */
     margin: 0px;
     position: absolute;
     -ms-transform: translate(100vw, 0px); /* IE 9 */
     -webkit-transform: translate(100vw, 0px); /* Safari */
     transform: translate(125vw, 0px);
     z-index: 10;
     background-color: lightgray;
}

/*transitions*/

.loadinggif {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100vw;
	height: calc(100vh - 0px);
	z-index: 966;
	background: url(/web_images/simple-pre-loader/images/loader-64x/Preloader_2.gif) center no-repeat #fff;
	background-color: white;
    z-index: -10;
}

.loadinggifIN {
    z-index: 0 !important;
}


.pagetransitionIN {
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  transform: translate(0vw, 0px)!important;
}

.pagetransitionOUT {
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  transform: translate(125vw, 0px)!important;
}

.pagezindexIN {
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  opacity: 0;
  z-index: 0 !important;
}

.pagezindexOUT {
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  opacity: 10;
  z-index: 10 !important;
  
}

.ngviewtransitionout {
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  transform: translate(125vw, 0px)!important;
}

.ngviewtransitionout {
  transform: translate(0vw, 0px)!important;
}


/*standard page code */

.headerdiv {
    width: 100%;
    height: 50px;
    background-color: #ef5350;
    position: absolute;
    z-index: 9999;
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2);
    top: 0px;
}

.homepagewimlogo {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 5px;
    left: 0px;
}

.headerbackarrow {
    height: 60px;
    width: 50;
    margin: 0px -10px 0px 0px;
    float: left;
}

#headerbackarrowicon {
    font-size: 40px;
    color: white;
    line-height: 50px;
    text-indent: 0;
}

.headerpagetitle {
    float: left;
    line-height: 50px;
    max-width: 500px;
    margin-top: 0px;
    color: white;
    font-family: Arial;
    font-size: 18px;
    margin-left: 0px;
}

.headerplusicon {
    float: right;
    width: 150px;
    margin: 100px;
    margin-top: 55px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

.notheaderdiv{
    width: 100%;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    background-color: lightgray;
    overflow: hidden;
    top: 40px;
    position: absolute;
}


/*sign in page*/
.signinlogo {
    margin: auto;
    display: block;
    /* margin-top: 5%; */
    height: 10%;
    border-radius: 12px 0px 12px 0px;
    width: 225px;
    height: calc(((100vh - 410px)/2) + 115px);
    border-radius: 12px 0px 12px 0px;
    max-width: 90%;
    /* margin-bottom: 10%; */
    padding-top: calc((100vh - 410px)/2);
    margin-bottom: calc((100vh - 410px)/2);
}

.signindiv {
    width: 90%;
    height: 215px;
    background-color: #EEEEEE;
    margin: auto;
    border-radius: 12px;
    /* margin-top: 10%; */
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
}

.signindivuserpic {
    width: 235px;
    height: 235px;
    border-radius: 50%;
    margin-left: calc(50% - 117px);
    margin-top: 60px;
    background-color: skyblue;
}

.signingivenname {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 35px;
}

.signinemail {
     width: 100%;
     text-align: center;
     font-family: Arial;
     font-size: 25px;
     margin-top: -15px;
     /* margin-bottom: 25px; */
}




* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
body                 { background:url(http://scotch.io/wp-content/uploads/2014/07/61.jpg); }
.container      { 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2       {
  text-align:center;
  margin-bottom:50px;
  color: white;
  font-family: Roboto;
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
  color: white;
}
.footer     { text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group            {
  position:relative;
  /* margin-bottom: 25px; */
  width: 90%;
  margin: auto;
  padding-top: 25px;
}
input               {
  font-size: 45px;
  padding:10px 10px 10px 5px;
  display:block;
  width: calc(100% - 100px);
  height: 85px;
  margin: auto;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  position:relative;
  margin-top: 27px;
}
input               {
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: calc(100%);
    height: 35px;
    margin: auto;
    border: none;
    border-radius: 5px;
    /* margin-top: 50px; */
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
input:focus         { outline:none; }

/* LABEL ======================================= */
label                {
  color:#999;
  font-size:40px;
  font-size:15px;
  font-family: Arial;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:60px;
  top:10px;
  left:10px;
  top: 30px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label        {
  top: 2px;
  font-size: 15px;
  top: 2px;
  font-size: 15px;
  color:#2196F3;
}

/* BOTTOM BARS ================================= */
.bar    {position:relative;display:block;width: calc(100% - 100px);/* margin-left: 50px; */}
.bar    { position:relative; display:block; width: calc(100%);}
.bar:before, .bar:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#2196F3; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#2196F3; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#2196F3; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#2196F3; }
  to    { width:0; background:transparent; }
}



.signinbutton {
    width: calc(100% - 100px);
    height: 85px;
    background-color: #2196F3;
    margin-left: 50px;
    margin-top: -10px;
    border-radius: 12px;
    text-align: center;
    font-size: 45px;
    color: white;
    line-height: 85px;
    font-family: Arial;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: calc(110px);
    height: 45px;
    background-color: #2196F3;
    /* margin-left: 50px; */
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 45px;
    font-family: Arial;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    border: none;
    margin-left: calc(100% - 125px);
}


/*sign up */

.linktoanewaccount {
    text-align: center;
    bottom: 70px;
    width: 100%;
    font-size: 40px;
    font-family: Arial;
    color: white;
    line-height: 150px;
    font-size: 12px;
    font-family: Arial;
    color: white;
    line-height: 75px;
    margin: auto;
    text-decoration: none;
}

.signupmalefemale {
    float: left;
    height: 30px;
    width: 83px;
    line-height: 35px;
    text-indent: 10px;
}

.signupinterestbuttons {
    width: 33.3%;
    background-color: lightgray;
    float: left;
    height: 75px;
    text-align: center;
    font-family: Roboto;
}



/*friends page*/
.backarrow {
    position: absolute;
    margin: 20px 10px;
    z-index: 2;
}

.pagelable {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    margin-top: 38px;
    font-family: Arial;
    line-height: 1; 
    color: #3f3f3f;
    z-index: 1;
}

.pageheaderbar {
    height: 170px;
    background-color: #00C7E2;
    opacity: .5;
    top: 0px;
}

.meatcontent {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    margin: .5px;
    background-color: lightgray;
}

.eachfriend {
    width: 25%;
    height: 100px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: white;
}

.myfriendspic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
    display: block;
    margin-top: 10px;
    margin-left: calc(50% - 25px);
}

.myfriendsname {
        text-align: center;
        font-family: Arial;
        margin-top: px;
        color: #3f3f3f;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        margin-top: 2px;
}

.myfriendscheckmark {
    position: absolute;
    height: 60px;
    margin-top: -115px;
    margin-left: 16%;
}

/* friends drop down menu */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


/*hompage */

.homepagelink {
    height: 400px;
    width: 80%;
    border-radius: 10px;
    background-color: gray;
    margin: auto;
    margin-top: calc((100vh - 1200px)/ 4);
    text-align: center;
    line-height: 400px;
    font-size: 100px;
    font-family: Arial Black;
    color: white;
    
    
    
}

#tophomepageline {
    width: 100%;
}



.homepagebuttondiv {
    width: 100px;
    height: 60px;
    background-color: none;
    margin: auto;
}

#homepagetopbutton {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}


#homepagetopbuttonlable {
    /* margin: -200px -80px; */
    -ms-transform: rotate(180deg); /* IE 9 */
    /* -webkit-transform: rotate(180deg); */ /* Chrome, Safari, Opera */
    /* transform: rotate(180deg); */
}

.homepagebuttonlable {
    margin: auto;
    width: 100;
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 15px;
    /* left: calc(50% - 50px); */
    /* position: absolute; */
    text-align: center;
    text-decoration: none;
}



/*Current WIMS*/

.currentwimsindividualdiv {
    width: 100vw;
    height: 70px;
    background-color: white;
    margin-bottom: 0;
    float: left;
    border: darkgray;
    border-style: none none solid none;
    border-width: 1px;
    box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.2);
}


.currentwimaddwimbutton {
    background-color: #5cb85c;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    bottom: 7%;
    border: none;
    color: white;
    font-size: 60px;
    line-height: 60px;
    box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.2);
    z-index: 1;
}

.currentwimswimtypeimg {
    width: 50px;
    height: 50px;
    margin: 10px 0px 10px 0px;
    float: left;
    text-align: center;
    color: dimgray;
}

.currentwimswimnameanddestinationholder {
    width: 375px;
    height: 150px;

    float: left;
    
    
}

.currentwimswimname {
    max-width: 100%;
    overflow: hidden;
    font-size: 16px;
    float: left;
    text-overflow: ellipsis;
    /* margin-top: -5PX; */
    font-family: Roboto Black;
    opacity: .8;
    margin: 0;
    line-height: 60px;
    white-space: nowrap;
}

.currentwimswimdestination {
    width: 100%;
    font-size: 12px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 30PX;
    font-family: Roboto;
    display: block;
    margin-top: -21px;
    opacity: .6;
}

.currentwimparticipantsdiv {
    float: left;
    height: 60;
    width: 60;
    margin: 5px;
    background-color: none;
    margin-top: 5px;
}


.currentwimparticipantsimg {
    float: left;
    width: 28px;
    height: 28px;
    margin: 1px;
    border-radius: 50%;
    background-color: dimgray;
    line-height: 27px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Roboto Black;
}


.currentwimswimtimesdiv {
    width: 260px;
    height: 150px;
    float: left;
    
    
}

.currentwimcountdowntime {
    line-height: 50px;
    text-align: center;
    font-family: Roboto Black;
}

.currentwimcountdowndate {
    line-height: 50px;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    margin-top: -39px;
}

/*WIM info*/
.individualwimheadercountdowntimer {
    line-height: 50px;
    font-family: Roboto Black;
    float: right;
    margin-right: 20px;
    color: white;
}

.individualwimtopdiv {
    width: 100vw;
    float: left;
    background-color: lightgray;
}

.individualwimbottomdiv {
    width: 100vw;
    float: left;
}

.individualwimdestinationdiv {
    width: 100vw;
    height: 50px;
    background-color: white;
    margin-bottom: 1px;
    border: darkgray;
    border-style: solid none solid;
    border-width: 1px;
    box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.2);
}

.individualwimdestinationicon {
    width: 45px;
    color: black;
    text-align: center;
    float: left;
}

.individualwimdestination {
    width: calc(100vw - 50px);
    line-height: 38px;
    font-family: Roboto Black;
    font-size: 17px;
}

.individualwimdestinationstreetname {
    /* width: calc(100vw - 50px); */
    line-height: 20px;
    font-family: Roboto black;
    font-size: 9px;
    margin-top: -24px;
}

.individualwimattendeesdiv {
    width: 105vw;
    height: 101px;
    background-color: white;
    float: left;
    border: darkgray;
    border-style: solid none solid;
    border-width: 1px;
    box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.2);
}

.individualwimattendees {
    width: 100vw;
    float: left;
    margin-top: 5px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    overflow-x: auto;
}

.individualwimpersonsdiv {
    width: 70px;
    height: 101px;
    /* float: left; */
    /* position: relative; */
    /* display: inline-block; */
    position: relative;
    display: inline-block;
    margin: 0px -2px -5px;
}

.individualwimpersonsimg {
    width: 50px;
    height: 50px;
    margin: 5px 10px;
    float: left;
    background-color: gray;
    border-radius: 50%;
}

.individualwimpersonsname {
    width: 70px;
    font-family: Roboto Black;
    font-size: 12px;
    text-align: center;
    float: left;
    margin-top: -3px;
}

.individualwimpersonresponse {
    float: left;
    width: inherit;
    text-align: center;
    font-size: 11px;
    font-family: Roboto;
    margin-top: -12px;
}


.individualwiminvitedlabeldiv {
    
}

.individualwiminvitedlabelwords {
    line-height: 40px;
    margin: 0;
    font-size: 14px;
    font-family: Roboto Black;
}

.individualwimpersonsresponse {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    margin: 37px -27px;
    position: absolute;
    /* line-height: 7; */
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

.individualwimheadericon {
    color: white;
    width: 30px;
    text-align: center;
}

.individualwimdetailsdiv {
    width: 100vw;
    height: 200px;
    background-color: white;
    float: left;
    border: darkgray;
    border-style: solid none solid;
    border-width: 1px;
    box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.2);
    margin-bottom: 20;
}

.individualwimdatetimediv {
    width: 100vw;
    height: 50px; */
    background-color: white;
    margin-bottom: 0px;
    float: left;
    background-color: white;
    border: darkgray;
    border-style: solid none solid;
    border-width: 1px;
    box-shadow: 0px 4px 13px 1px rgba(0,0,0,0.2);
    z-index: 1;
    position: relative;
}

.individualwimdetailsdatetime {
    width: 100vw;
    height: 50px;
    background-color: white;
    float: left;
    border: lightgray;
    border-style: none none solid;
    border-width: 1px;
}

#individualwimdetailsdatetimeicon {
    font-size: 30px;
    line-height: 50px;
    float: left;
    margin-left: calc(50% - 70px);
}

.individualwimdetailsdatetimetext {
    font-family: Roboto Black;
    font-size: 12px;
    line-height: 50px;
    float: left;
    text-indent: 5px;
}

.individualwimdetailsdivbottomdetails {
    width: 100vw;
    /* height: 50px; */
    background-color: white;
    margin-bottom: 0px;
    border: lightgray;
    border-style: none none solid;
    border-width: 1px;
    float: left;
}

.individualwimdestinationstreetnamediv {
    width: calc(100vw - 65px);
    float: left;
    margin-left: 45px;
    margin-top: 3px;
}

/*profile page */

.profiletopdiv {
    width: 100%;
    height: 35%;
    /* background-image: url(/profile_pics/default.png); */
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center center;
    /* -webkit-filter: blur(10px); */
    z-index: 16;
}

.profiletopdivbackgroundpic {
    width: 100%;
    height: 35%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    /* background-image: url(/profile_pics/default.png); */ */
}

.profiletopdivbackgroundblur {
    width: 100%;
    height: 35%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: url(/profile_pics/default.png);
    background-repeat: no-repeat;
    background-size: 106%;
    background-position: center center;
    -webkit-filter: blur(6px);
}

.profiletopleftactioncircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #529dcc;
    float: left;
    margin-left: calc((100% - 180px)/3);
    margin-right: calc((100% - 250px)/6);
    margin-top: 90px;
    position: relative;
    z-index: 1;
}

.profiletoprightactioncircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-left: calc((100% - 250px)/6);
    margin-top: 90px;
    position: relative;
    z-index: 1;
    background-color: #529dcc;
}

#profiletopactioncircleicon {
    width: 40px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    color: white;
    float: right;
    
}

.profiletopprofilepiccircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
    float: left;
    margin-left: calc(50% - 50px);
    margin-top: calc(10% - 0px);
    position: relative;
    z-index: 1;
    box-shadow: 6px 8px 16px 0px rgba(0,0,0,0.2);
}

.profiletopname {
    float: left;
    width: 100%;
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    color: white;
    position: relative;
    z-index: 1;
    font-size: 20px;
}

.profileoptionchooser {
    width: 100%;
    height: 50px;
    background-color: white;
    margin-top: 1px;
    position: relative;
    z-index: 2;
    margin-bottom: 1px;
    box-shadow: 0px 8px 19px 2px rgba(0,0,0,0.2);
}

.profileoptiondiv {
    height: 50px;
    width: calc(33.33%);
    background-color: white;
    float: left;
}

.profileoptionchoosertext {
    width: 100%;
    text-align: center;
    font-family: Roboto Black;
    font-size: 11px;
    line-height: 0;
}

.profileoptionpic {
    width: 100%;
    height: 30px;
    margin: auto;
    margin-top: 6px;
    display: block;
    text-align: center;
}

.profileoptiondividerline {
    height: 30px;
    width: 2px;
    float: left;
    background-color: lightgray;
    margin-top: 10px;
}

.profilebottomdiv {
    width: calc(100%);
    height: calc(100% - 0px);
    position: absolute;
    margin: 0px;
    overflow: scroll;
}


.profilebottompastwimsdiv {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    position: absolute;
    bottom: 0px;
    overflow: auto;
}

.profilebottomfriendsdiv {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    background-color: lightgray;
    position: absolute;
    /* bottom: 0px; */
    /* margin-top: 1px; */
    overflow-y: auto;
}

.profilebottominfodiv {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    /* position: relative; */
    bottom: 0px;
    overflow: auto;
}

.profileinfoleftdiv {
    background-color: lightgray;
    float: left;
    width: 100%;
    margin-top: 0;
    /* border-radius: 0px 10px 10px 0px; */
    overflow: auto;
    position: relative;
}

.profileinfoindividualdiv {
    height: 41px;
    width: calc(100% - 30px);
    /* margin-top: 10px; */
    float: left;
}

.profileinfoleftinfoimage {
    /* width: 60px; */
    height: 20px;
    margin: 6px 15px;
    float: left;
}

#profileinfoleftinfoimageicon {
    font-size: 20px;
    color: #3f3f3f;
}

.profileinfoleftinfotitle {
    float: left;
    width: calc(100% - 181px);
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-family: roboto Black;
    line-height: 12px;
}

.profileinfoleftinfoinformation {
    float: left;
    font-size: 16px;
    margin-top: -27px;
    width: calc(100% - 30px);
    font-family: roboto;
    margin-left: 59px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
}



.profileinforightdiv {
    float: right;
    width: 50%;
    background-color: lightgray;
}

.profileinterestsheader {
    width: calc(100% - 4px);
    height: 50px;
    float: left;
    margin: 4px 10px 10px 0px;
    border-radius: 10px 0px 0px 10px;
    color: #3f3f3f;
    line-height: 50px;
    font-size: 15px;
    text-indent: 7px;
    font-family: Arial;
    background-color: white;
}

.profileinterestsdiv {
    width: 100vw;
    height: 50px;
    float: left;
    background-color: white;
    margin-bottom: 1;
}

.profileinterestsimg {
    height: 65px;
    width: 65px;
    margin: 10px;
    background-color: #ef5350;
    border-radius: 50%;
    float: left;
}

#profileinterestsimgicon {
    width: 60px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    color: black;
    float: left;
}

.profileintereststext {
    line-height: 50px;
    width: calc(100vw - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Roboto Black;
    font-size: 15px;
    margin-top: 0px;
    float: left;
    color: black;
    margin: 0;
}


/*homepage */

.homepagesettingsbuttondiv {
    padding: 10px;
    background-color: #ef5350;
    position: absolute;
    right: 0;
    /* top: 30px; */
}

.homepagesettingsbutton {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.homepagesettingsdownarrow {
	background-color: #ef5350;
	border:none;
    width: 60px;
    height: 60px;    
}

.dropdown {
	position: relative;
	display: inline-block;
}

.homepageSettingsDropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.homepageSettingsDropdown a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.homepageSettingsDropdown button:hover {
	background-color: #f1f1f1;
}

button.link {
	background:none;
	border:none;
}

.show {
	display: block;
}

.homepagenotifications {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: white;
    margin: 28px 14px;
    position: absolute;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    color: #ef5350;
    font-family: Arial Black;
    text-decoration: none;
}

.homepagenotificationsbackgroundcircle {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-color: #ef5350;
    margin: 26px 12px;
    position: absolute;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    color: #ef5350;
    font-family: Arial Black;
    text-decoration: none;
}

#homepagebuttonpics {
    z-index: -13;
    color: white;
    font-size: 60px;
    width: 100px;
    text-align: center;
    line-height: 64px;
}



/* notifications page */

.notificationslable {
    width: 100%;
    height: 65px;
    background-color: #757575;
    color: white;
    line-height: 65px;
    font-size: 40px;
    font-family: Arial;
    margin: 5px 0px;
    border-radius: 2px;
    text-indent: 150px;
    margin-top: 0px;
    
}

#notificationstypeimage {
    font-size: 70px;
    line-height: 120px;
    width: 120px;
    text-align: center;
    /*color: #3f3f3f;*/
}

.currentwimsfriendrequestresponsediv {
    height: 120px;
    margin: 15px;
    margin-right: 20px;
    float: right;
    
}

.currentwimsfriendrequestresponseoption {
    width: 110px;
    float: right;
    
}

#currentwimsfriendrequestresponseoptionicon {
    font-size: 79px;
    line-height: 120px;
}

/* modal css */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    
    
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
        
}


    
.modal-viewwiminfo {
    position: relative;
    width: calc(33% + 200px);
    height: 120px;
    background-color: #ef5350;
    border-radius: 8px;
    margin-left: calc(33% - 100px);
    margin-top: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: Arial;
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    color: white;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
    
#modal-contenticon {
    width: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 120px;
    color: white;
}
    
.modal-lable {
    width: 200px;
    text-align: center;
    color: white;
    font-family: Arial;
    font-size: 40px;
    margin-left: -25px;
}

.modalbutton {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    background-color: green;
    bottom: 135px;
    right: 135px;
    z-index: 2;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 12px 40px 0 rgba(0,0,0,0.19);
}

.greenbox{
	height: 50px;
	width: 50px;
	background-color: green;
}
#modalbuttonicon {
    font-size: 100px;
    line-height: 150px;
    width: 150px;
    text-align: center;
    color: white;
    margin-left: -5px; /* i have no idea why this is nessisary */
    
}

#modaltrashicon {
    position: absolute;
    bottom: 180px;
    left: 60px;
    font-size: 125px;
}

/* search page */

.searchforfriendsinput {
    height: 50px;
    width: calc(100vw - 40px);
    color: red;
    border-radius: 0;
    float: left;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.searchforfriendseachperson {
    float: left;
    height: 50px;
    width: 100vw;
    border-bottom-style: solid;
    border-width: 1px;
    margin-left: -15px;
    border-color: lightgray;
    background-color: F5F5F5;
}

.searchforfriendseachpersonpic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin: 10;
    background-color: lightgray;
}

.searchforfriendseachpersonname {
    float: left;
    width: calc(100vw - 140px);
    text-indent: 0px;
    overflow: hidden;
    display: inline;
    text-overflow: ellipsis;
    line-height: 50px;
    font-family: Roboto;
    font-size: 12px;
}

.searchforfriendseachpersonaddbutton {
    float: right;
    padding: 0;
    margin: 0px 10px 0px;
    background-color: F5F5F5;
    border-color: F5F5F5;
}

#searchforfriendseachpersonaddbuttonicon {
    color: 4CAF50;
    font-size: 30px;
    line-height: 47px;
}

#searchforfriendseachinputsherlocicon {
    font-size: 30px;
    line-height: 50px;
    width: 40px;
    text-align: center;
    color: #616161;
    float: left;
}

.searchforfriendseachresultsdiv {
    width: 100vw;
    height: calc(100vh - 100px);
    overflow: hidden;
    overflow-y: auto;
        
}


/* bigmap */

.bigmapgetdirectionsicon {
    font-size: 30px;
    line-height: 50px;
    float: right;
    margin-left: calc(50% - 70px);
    color: white;
}
