<html lang="en" ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="colorpickerControllerV2.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="colorpickerStyle.css">




</head>
<body ng-controller="SettupController" ng-keydown="onKeyDown($event)" ng-init="uponInit()">
<!-- Frame divs will be ordered in their respective z-index order from highest to lowest-->
<!-- this will be the highest div and provide the interface which is actually clikced-->
<div class="frame" style="z-index: 20;">
  <div ng-repeat="frame in frames | limitTo:1">
    <div ng-repeat="row in frame| limitTo:38">
      <div id="click{{ $parent.$index }}{{ $index }}" class="clickindividualseat" ng-repeat="seat in row track by $index" ng-click="changeSquareColor($parent.$index, $index)" ng-mousedown="spreadSelectIN($parent.$index, $index)" ng-mouseup="spreadSelectOut($parent.$index, $index)">
      </div>
    </div>
  </div>
</div>


<!-- this frame is for actuall displaying the colors of the current frame-->
<div class="frame" style="z-index: 10;">
  <div ng-repeat="frame in frames | limitTo:1">
    <div ng-repeat="row in frame| limitTo:38">
      <div id="display{{ $parent.$index }}.{{ $index }}" class="individualseat" ng-repeat="seat in row track by $index">
      </div>
    </div>
  </div>
</div>

<!-- this frame creates the opaque view-->
<div class="frame" style="z-index: 7; background-color: gray; opacity: .5;">

</div>

<!-- This frame displays the frame previous to the live one-->
<div class="frame" style="z-index: 5;">
  <div ng-repeat="frame in frames | limitTo:1">
    <div ng-repeat="row in frame| limitTo:38">
      <div id="displayminusone{{ $parent.$index }}.{{ $index }}" class="individualseat" ng-repeat="seat in row track by $index">
      </div>
    </div>
  </div>
</div>

<!-- background frame (this is gray to give the illusion of color but the divs are actually clear) -->
<div class="backgroundFrame">

</div>

<div class="selectpresetBar">
  <div class="individualpreset" id="preset{{ $index }}" ng-repeat="preset in presetdivs" ng-click="setPreset($index)">
    <p class="individualpresettitle">{{ preset.name }}</p>
    <div class="individualpresetviewer">

    </div>
  </div>
</div>
<button type="button" class="btn btn-success" id="createpresetbutton" ng-click="createpreset()">Save Preset</button>



<!-- timeline div -->
<div class="timelineDiv">
  <div class="timelinecurrentdiv">
    <!-- this makes it user friendly for not computer people-->
    {{ currentFrame + 1 }}/{{ numberofFrames }}
  </div>
  <div class="timelineScrollDiv">
    <div id="timeline{{ $index }}" class="timelineScrollClickDiv" ng-repeat="frame in frames" ng-click="setCurrentFrame( $index)">
      {{ $index + 1}}
    </div>
  </div>

  <button type="button" class="btn btn-success" id="runtestbutton" ng-click="runtest()">Start test</button>
  <button type="button" class="btn btn-success" id="stoptestbutton" ng-click="stoptest()">Stop test</button>
  <button type="button" class="btn btn-success" id="continuetestbutton" ng-click="continuetest()">Continue test</button>

</div>

<!-- color picker div -->
<div class="colorpickerDiv">
  <div class="selectedColor" id="selectedColorDiv" style="background-color: #f44336;">
    #f44336
  </div>
  <div class="colorpickerColorPad">
    <div class="colorpickerColorIndividual" ng-repeat="color in colorListArray" style="background-color: {{ color }}" ng-mousedown="setColor(color, $index)">

    </div>
  </div>

</div>


<!--
<p style="position: absolute; background-color:black; color:white">
  {{ presetarray }}

</p>
-->


</body>
</html>
