<html lang="en" ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="colorpickerControllerV2.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="colorpickerStyle.css">


</head>
<body ng-controller="SettupController">
<!-- Frame divs will be ordered in their respective z-index order from highest to lowest-->
<!-- this will be the highest div and provide the interface which is actually clikced-->
<div class="frame" style="z-index: 20;">
  <div ng-repeat="frame in frames | limitTo:1">
    <div ng-repeat="row in frame| limitTo:38">
      <div id="click{{ $parent.$index }}{{ $index }}" class="clickindividualseat" ng-repeat="seat in row track by $index" ng-click="changeSquareColor($parent.$index, $index)">
      </div>
    </div>
  </div>
</div>


<!-- this frame is for actuall displaying the colors of the current frame-->
<div class="frame">
  <div ng-repeat="frame in frames | limitTo:1">
    <div ng-repeat="row in frame| limitTo:38">
      <div id="display{{ $parent.$index }}.{{ $index }}" class="individualseat" ng-repeat="seat in row track by $index">
      </div>
    </div>
  </div>
</div>

<!-- background frame (this is gray to give the illusion of color but the divs are actually clear) -->
<div class="backgroundFrame">

</div>


<div class="timelineDiv">

  <div class="timelineScrollDiv">
    <div class="timelineScrollClickDiv" ng-repeat="frame in frames" ng-click="setCurrentFrame( $index)">
      {{ $index }}
    </div>
  </div>

  <button type="button" id="addmilsecbutton" class="btn btn-success" style="width: 90%; margin-left: 5%; height: 60px; font-size: 30px;" ng-click="addTimeMillsec()">Add</button>

</div>

{{ currentFrame }}
<!--{{ frames }}-->


</body>
</html>
