<html lang="en" ng-app="wim">
<head>





</head>
<body>

    <h1>Countdown Clock</h1>
    <div id="clockdiv">
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>

    <p id="countdownholder">clock holder</p>

    <buton onclick="initializeClock('clockdiv', 'november 10 2016 16:55:59 GMT-0500')">Click me</buton>





<script>

    function getTimeRemaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t / 1000) % 60);
      var minutes = Math.floor((t / 1000 / 60) % 60);
      var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
      var days = Math.floor(t / (1000 * 60 * 60 * 24));
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }


    function initializeClock(id, endtime) {
      var clock = document.getElementById(id);
      var daysSpan = clock.querySelector('.days');
      var hoursSpan = clock.querySelector('.hours');
      var minutesSpan = clock.querySelector('.minutes');
      var secondsSpan = clock.querySelector('.seconds');


      function updateClock() {
        var t = getTimeRemaining(endtime);

        daysSpan.innerHTML = t.days;
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

        if (t.days > 1){
            document.getElementById("countdownholder").innerHTML = t.days + " Days";
        }else if (t.days > 0){
            document.getElementById("countdownholder").innerHTML = t.days + " Day";
        }else if (('0' + t.hours).slice(-2) > 1){
             document.getElementById("countdownholder").innerHTML = ('0' + t.hours).slice(-2) + " Hours";
        }else if (('0' + t.hours).slice(-2) > 0){
             document.getElementById("countdownholder").innerHTML = ('0' + t.hours).slice(-2) + " Hour";
        }else if (('0' + t.minutes).slice(-2) > 0){
             document.getElementById("countdownholder").innerHTML = ('0' + t.minutes).slice(-2) + " Minutes";
        }else if (('0' + t.seconds).slice(-2) > 0){
             document.getElementById("countdownholder").innerHTML = "1 Minute";
        }



        if (t.total <= 0) {
          //clearInterval(timeinterval);
          document.getElementById("countdownholder").innerHTML = "Active Now";
        }
          console.log("update");


      }


     //var timeinterval = setInterval(updateClock(), 1);
     setInterval( function(){updateClock()}, 3000);


    }

    //var deadline = 'August 14 2016 15:55:59 GMT-0700';
    //initializeClock('clockdiv', deadline);

</script>
</body>
</html>
