<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">Current WIMs</h1>

</div>

<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: white; position: absolute;">

<!--This first button is a hyperlink to the Create New Wim page-->
<a href="/#/newWim"><button type="button" class="currentwimaddwimbutton">+</button></a>

<div class="row" style="margin: 0px;">
    <div class="col-md-12">
    	<!--I am pulling info from the 'wims' array that is created in the CurrentWimsController in controller.js-->
        <p>You currently have <b>{{ wims.length }}</b> wims on your schedule.</p>
        <ul>
            <li ng-repeat="wim in wims">
                <b>{{ wim.title }}</b> at <i>{{ wim.location }}</i>
            </li>
        </ul>
    </div>
</div>

</div>