<script>
    alert("literaly anything")

</script>

<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">Current WIMs</h1>

</div>

<!--This first button is a hyperlink to the Create New Wim page-->
<a href="/#/newWim"><button type="button" class="currentwimaddwimbutton">+</button></a>

<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: lightgray; position: absolute; overflow: hidden; overflow-y: auto;">

<div class="row" style="margin: 0px;">
    <!--<div class="col-md-12"> -->
    	<!--I am pulling info from the 'wims' array that is created in the CurrentWimsController in controller.js-->
        <!--
        <p>You currently have <b>{{ wims.length }}</b> wims on your schedule.</p>
        -->
    <a href='#selectedWim'>
        <div class="currentwimsindividualdiv">
            <i class="currentwimswimtypeimg material-icons" style="line-height: 50px; font-size: 30px;">&#xE7E9;</i>
            <div style="width: 40%; float: left;">
                <p class="currentwimswimname">Birthday Party</p>
                <p class="currentwimswimdestination">Braxton's House</p>
            </div>
            <div class="currentwimparticipantsdiv">
                <img class="currentwimparticipantsimg" src="profile_pics/DrBob.png">
                <img class="currentwimparticipantsimg" src="profile_pics/test.png">
                <img class="currentwimparticipantsimg" src="profile_pics/marq.draggon.png">
                <div class="currentwimparticipantsimg">5</div>                
            </div>
            <div style="width: calc(60% - 120px); height: 70px; float: left;">
                <p class="currentwimcountdowntime">20 min</p>
                <p class="currentwimcountdowndate">5pm Sun 24</p>
            </div>
        
        </div>
    </a>
    
    <a href='#selectedWim'>
        <div class="currentwimsindividualdiv">
            <i class="currentwimswimtypeimg material-icons" style="line-height: 50px; font-size: 30px;">&#xE7E9;</i>
            <div style="width: 40%; float: left;">
                <p class="currentwimswimname">Birthday Party</p>
                <p class="currentwimswimdestination">Braxton's House</p>
            </div>
            <div class="currentwimparticipantsdiv">
                <img class="currentwimparticipantsimg" src="profile_pics/DrBob.png">
                <img class="currentwimparticipantsimg" src="profile_pics/test.png">
                <img class="currentwimparticipantsimg" src="profile_pics/marq.draggon.png">
                <div class="currentwimparticipantsimg">5</div>                
            </div>
            <div style="width: calc(60% - 120px); height: 70px; float: left;">
                <p class="currentwimcountdowntime">20 min</p>
                <p class="currentwimcountdowndate">5pm Sun 24</p>
            </div>
        
        </div>
    </a>
    
    <a href='#selectedWim'>
        <div class="currentwimsindividualdiv">
            <i class="currentwimswimtypeimg material-icons" style="line-height: 50px; font-size: 30px;">&#xE7E9;</i>
            <div style="width: 40%; float: left;">
                <p class="currentwimswimname">Birthday Party</p>
                <p class="currentwimswimdestination">Braxton's House</p>
            </div>
            <div class="currentwimparticipantsdiv">
                <img class="currentwimparticipantsimg" src="profile_pics/DrBob.png">
                <img class="currentwimparticipantsimg" src="profile_pics/test.png">
                <img class="currentwimparticipantsimg" src="profile_pics/marq.draggon.png">
                <div class="currentwimparticipantsimg">5</div>                
            </div>
            <div style="width: calc(60% - 120px); height: 70px; float: left;">
                <p class="currentwimcountdowntime">20 min</p>
                <p class="currentwimcountdowndate">5pm Sun 24</p>
            </div>
        
        </div>
    </a>
       
    
        <!--
        <ul>
            <li ng-repeat="wim in wims">
                <b>{{ wim.title }}</b> at <i>{{ wim.location }}</i>
            </li>
        </ul>
        -->
    <!--</div>-->
</div>

</div>








