<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">Search any Users</h1>

</div>

<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: green; position: absolute;">
    
    <div><input type="text" class="searchforfriendsinput" ng-model="searchFor">Find a Friend</div>
	
    <div>
		<div class="col-md-12">
			<!--I am pulling in the 'users' array that is created in the FriendController in controller.js-->
			<p>There are currently <b>{{ relationships.length }}</b> users that you could be friends with!</p>
			<ul>
				<!--This ng-repeat is basically a for loop that loops through the users array and filters for matches that are similar to what was inputed above-->
				<li ng-repeat="relationship in relationships | filter:searchFor">
					<!--I pass the user id to the addFriend function which will pass the userId onto the API to create a new friend-->
					<b>{{ relationship.FirstName }} {{relationship.LastName}}</i><button type="button" class="btn btn-info" ng-click="sendFriendRequest(relationship.id)"> + Add New Friend  </button>
				</li>
			</ul>
		</div>
	</div>
    <!-- Button to trigger modal -->
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
      </div>
    </div>
    
    
</div>
