<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">Current WIMs</h1>

</div>



<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: lightgray; position: absolute; overflow: hidden; overflow-y: auto;">

<div class="individualwimtopdiv">
    
</div>
    
<div class="individualwimbottomdiv">
    <div class="individualwimdestinationdiv">
        <i class="individualwimdestinationicon material-icons" style="line-height: 50px; font-size: 30px;">&#xE0C8;</i>
    </div>
    
</div>

</div>