<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">New WIM</h1>

</div>


<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: white; position: absolute; z-index: 50;">
    <div>
        <div class="newwimdiv001" style="float: left; width: calc(100vw - 40px); height: 50px; margin-top: 15px; border-bottom-style: solid; border-bottom-width: 1px; margin-left: 20px; border-color: #E0E0E0;">
            <input class="form-control newwiminputformwimtitle" ng-model="currentWimTitle" placeholder="WIM Title..." type="text"  style="padding: 3px; border-color: white; box-shadow: inset 0 0 0;">
            <div class="newwiminputwimiconbutton">
                <i class="material-icons newwimiconicons" style="line-height: 11px; font-size: 10px; text-align: center; width: 11px; float: left; border-width: 0px 1px 1px 0px;">&#xE7E9;</i>
                <i class="material-icons newwimiconicons" style="line-height: 11px; font-size: 10px; text-align: center; width: 11px; float: left; border-width: 0px 0px 1px 0px;">&#xE52F;</i>
                <i class="material-icons newwimiconicons" style="line-height: 11px; font-size: 10px; text-align: center; width: 11px; float: left; border-width: 0px 1px 0px 0px;">&#xE541;</i>
                <i class="material-icons newwimiconicons" style="line-height: 11px; font-size: 10px; text-align: center; width: 11px; float: left; border-width: 0px 0px 0px 0px;">&#xE54D;</i>
            </div>
        </div>
        <div class="newwimdiv002" style="width: 100vw; float: left; margin-left: 20px;">
            <i class="material-icons newwiminputicons" style="line-height: 40px; width: 24px; margin-right: 14px;">&#xE0C8;</i>
            <div class="newwimdiv003">
                <input class="form-control newwiminputforms" ng-model="currentWimLocation" placeholder="Destination..." type="text" style="margin-top: 14px;border-color: white; box-shadow: inset 0 0 0; padding: 0px;">
            </div>
        </div>
        <div class="newwimdiv004">
            <div  class="newwimdiv005">
                <i class="material-icons newwiminputicons" style="line-height: 40px; margin-right: 12px;">&#xE8DF;</i>
                <div  style="float: left; border-bottom-style: solid; border-bottom-width: 1px; width: calc(100% - 48px); border-color: #E0E0E0;">
                    <input class="form-control newwiminputforms" ng-model="currentWimDate" placeholder="Date..." type="date" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0; width: 100%; padding: 0; font-size: 10px">
                </div>
            </div>
            <div class="newwimdiv006">
                <i class="material-icons newwiminputicons" style="line-height: 40px; width: 40px; margin-left: 2px;">&#xE192;</i>
                <div class="newwimdiv007">
                    <input class="form-control newwiminputforms" ng-model="currentWimTime" placeholder="Time..." type="time" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0; width: calc(50vw - 62px); font-size: 14px;">
                </div>
            </div>
        
        </div>

        <div class="newwimdiv008">
            <i class="material-icons newwiminputicons" style="line-height: 40px; width: 24px; margin-right: 14px;">&#xE8D2;</i>
            <div class="newwimdiv003" style="float: left; border-bottom-style: solid; border-bottom-width: 1px;">
                <textarea class="form-control newwiminputforms" ng-model="currentWimDescription" placeholder="Description..." type="text" style="margin-top: 22px; padding: 0; border-color: white; box-shadow: inset 0 0 0; height: 45px"></textarea>
            </div>
        </div>
            
        <div class="newwimdiv008" style="width: 100vw; float: left; margin-left: 20px;">
            <i class="material-icons newwiminputicons" style="line-height: 40px; width: 24px; margin-right: 14px;">&#xE7FB;</i>
            <div class="newwimdiv003">
                <!-- implement show friends here -->
                <p class="newwiminputforms" style="line-height: 70px; font-family: Roboto; color: #9E9E9E; height: 45px;">Add People</p>
            </div>
        </div>
        
        <div class="newwimdiv009">
            <div onclick="showadvancedoptions()">
                <i class="material-icons newwiminputicons" style="line-height: 40px; width: 24px; float: left; font-size: 14px; margin: 0;">&#xE8B8;</i>
		        <p class="newwimdiv010">Advanced options</p>
            </div>
        </div>
        
        


		<div id="newwimadvancedoptionsdiv" class="newwimadvancedoptionscssdiv">
            <div class="newwimheaderdiv">
                <div class="headerbackarrow" onclick="hideadvancedoptions()">
                    <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
                </div>
                <h1 class="headerpagetitle">Advanced Options</h1>
            </div>
            
            <div class="newwimdiv002" style="width: 100vw; float: left; margin-left: 20px;">
                <i class="material-icons newwiminputicons" style="line-height: 40px; width: 24px; margin-right: 14px;">&#xE566;</i>
                <div class="newwimdiv003">
                    <input class="form-control newwiminputforms" ng-model="currentWimAttire" placeholder="Attire..." type="text" style="margin-top: 14px;border-color: white; box-shadow: inset 0 0 0; padding: 0px;">
                </div>
            </div>
            
            <div class="newwimdiv002" style="width: 100vw; float: left; margin-left: 20px;">
                <i class="material-icons newwiminputicons" style="line-height: 40px; width: 24px; margin-right: 14px;">&#xE0C8;</i>
                <div class="newwimdiv003">
                    <input class="form-control newwiminputforms" ng-model="currentWimAddress" placeholder="Address..." type="text" style="margin-top: 14px;border-color: white; box-shadow: inset 0 0 0; padding: 0px;">
                </div>
            </div>
            
            <div class="newwimdiv002" style="width: 100vw; float: left; margin-left: 20px;">
                <i class="material-icons newwiminputicons" style="line-height: 40px; width: 24px; margin-right: 14px;">&#xE531;</i>
                <div class="newwimdiv003">
                    <input class="form-control newwiminputforms" ng-model="currentWimTransportation" placeholder="Transportation..." type="text" style="margin-top: 14px;border-color: white; box-shadow: inset 0 0 0; padding: 0px;">
                </div>
            </div>
        </div>
        
        
        <div id="newwimmapsearchdiv" class="newwimmapsearchcssdiv">
        
            <input type="text" id="mapsearch">
            <div id="map-canvas" style="background-color:gray"></div>

        </div>
        
        
        <div id="newwiminvitefriendsdiv" class="newwiminvitefriendscssdiv">
            <p>Invite Friends</p>
            <p><select multiple="multiple" ng-model="friends">
                    <option>1</option>
                    <option>2</option>
                    </select>
                    </p>
        </div>
        
        
        
        <div style="float: right; margin: 20px;">
            <!--Upon clicking the Save Wim button, this create function is fired to send the info to the API through the CurrentWimsController-->
            <button type="button" class="btn btn-primary" ng-click="create()" style="padding: 10px">Save Wim</button>
        </div>
           </div>
    
</div>
