<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">New WIM</h1>

</div>


<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: white; position: absolute; z-index: 50;">

    <div id="01newwimwimtitle" class="newwimslidedivs" onclick="newwimadvanceslide('02newwimdestination')"></div>
    <div id="02newwimdestination" class="newwimslidedivs" style="left: 120vw; color: green;" onclick="newwimadvanceslide('03newwimdatetime')"></div>
    <div id="03newwimdatetime" class="newwimslidedivs" style="left: 120vw; color: red;" onclick="newwimadvanceslide('04newwimaddpeople')"></div>
    <div id="04newwimaddpeople" class="newwimslidedivs" style="left: 120vw; color: orange;" onclick="newwimadvanceslide('05newwimadditionaloptions')"></div>
    <div id="05newwimadditionaloptions" class="newwimslidedivs" style="left: 120vw; color: pink;"></div>
    
    
    
</div>