<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">New WIM</h1>

</div>


<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: white; position: absolute; z-index: 50;">
    <div>
        <i class="material-icons newwiminputicons" style="line-height: 40px" style="line-height: 40px">&#xE87C;</i>
        <input class="form-control newwiminputforms" ng-model="currentWimTitle" placeholder="WIM Title..." type="text"  style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">
        <i class="material-icons newwiminputicons" style="line-height: 40px">&#xE87C;</i>
        <input class="form-control newwiminputforms" ng-model="currentWimLocation" placeholder="Destination..." type="text" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">
        <i class="material-icons newwiminputicons" style="line-height: 40px">&#xE87C;</i>
        <input class="form-control newwiminputforms" ng-model="currentWimAddress" placeholder="Address..." type="text" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">
        <i class="material-icons newwiminputicons" style="line-height: 40px">&#xE87C;</i>
        <input class="form-control newwiminputforms" ng-model="currentWimDate" placeholder="Date..." type="date" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">
        <i class="material-icons newwiminputicons" style="line-height: 40px">&#xE87C;</i>
		<input class="form-control newwiminputforms" ng-model="currentWimTime" placeholder="Time..." type="time" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">
        <i class="material-icons newwiminputicons" style="line-height: 40px">&#xE87C;</i>
		<input class="form-control newwiminputforms" ng-model="currentWimTransportation" placeholder="Transportation..." type="text" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">
        <i class="material-icons newwiminputicons" style="line-height: 40px">&#xE87C;</i>
        <input class="form-control newwiminputforms" ng-model="currentWimAttire" placeholder="Attire..." type="text" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">
        <i class="material-icons newwiminputicons" style="line-height: 40px">&#xE87C;</i>
        <input class="form-control newwiminputforms" ng-model="currentWimDescription" placeholder="Description..." type="text" style="margin-top: 15px;border-color: white; box-shadow: inset 0 0 0;">

        <input type="text" id="mapsearch">
        <div id="map-canvas" style="background-color: green"></div>
        

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyB6K1CFUQ1RwVJ-nyXxd6W0rfiIBe12Q&libraries=places" type="text/javascript"></script>



        <script>
            
            alert("WWWO");

            var map = new google.maps.Map(document.getElementById('map-canvas'),{
                center:{
                    lat: 27.72,
                    lng: 85.36
                },
                zoom:15
            });

            var marker = new google.maps.Marker({
                position:{
                    lat: 27.72,
                    lng:85.36
                },
                map:map,
                draggable:true
            });

            var searchBox = new google.maps.places.SearchBox(document.getElementById('mapsearch'));

            //place cange event on search box
            google.maps.event.addListener(searchBox, 'places_changed',function(){

                console.log(searchBox.getPlaces());
                var places = searchBox.getPlaces();

                //bound
                var bounds = new google.maps.LatLngBounds();
                var i, place;

                for(i=0; place=places[i];i++){

                    // console.log(place.geometry.location);

                    bounds.extend(place.geometry.location);
                    marker.setPosition(place.geometry.location);

                }

                map.fitBounds(bounds);
                map.setZoom(15);

            })

        </script>
        
        

		<!-- implement show friends here -->
    
        <p>Invite Friends</p>
        <p><select multiple="multiple" ng-model="friends">
        		<option>1</option>
        		<option>2</option>
        		</select>
        		</p>
        
        <div>
            <!--Upon clicking the Save Wim button, this create function is fired to send the info to the API through the CurrentWimsController-->
            <button type="button" class="btn btn-primary" ng-click="create()">Save Wim</button>
        </div>
    </div>
    
</div>
