<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">Notifications</h1>

</div>


<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: white; position: absolute; z-index: 50;">


    <div class="row">
		<div class="col-md-12">
            <!--
			<p> Friend Requests </p>
			<p>You currently have <b>{{ requests.length }}</b> friend requests.</p>
			<ul>
            -->
				<div class="notificationdiv" ng-repeat="request in requests">
					<img class="notificationpicture" src="">
                    <b class="notificationname">{{ request.username }}</b> 
                    <button type="button" class="btn btn-info notificationbutton" ng-click="denyRequest(request.id)" style="background-color: #e53935; border-color: #e53935;">Decline</button>
                    <button type="button" class="btn btn-info notificationbutton" ng-click="acceptRequest(request.id)">Accept</button> 
				</div>
            
            <div class="wrap">

                <div class="square link-wrap">
                    <a data-color="#e74c3c" class="ripple-slow">Square</a>
                </div>

                <div class="round link-wrap">
                    <a data-color="#e74c3c" class="ripple-slow">Round</a>
                </div>

                <div class="circle link-wrap">
                    <a data-color="#e74c3c" class="ripple-slow">Circle</a>
                </div>

                <div class="oval link-wrap">
                    <a data-color="#e74c3c" class="ripple-slow">Oval</a>
                </div>

                <p class="like-polymer">
                    <a data-color="#e74c3c" class="ripple-slow">Like Polymer</a>
                </p>

            </div>
			
		</div>
	</div>
</div>
