<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle" ng-repeat="p in profile">{{p.FirstName}}'s Profile</h1>
        
    <div class="dropdown">
        <div onclick="profilepagedropdownFunction()" class="dropbtn">
            <i id="profiletopactioncircleicon" class="material-icons dropbtn">&#xE5D4;</i>
        </div>
        <div id="myDropdown" class="dropdown-content">
            <a ng-click="isClicked =!isClicked">Edit profile</a>
            <a>About</a>
            <a onclick="profilemodalcall('profilemodalbackground','profilemodal')">Log out</a>
        </div>
    </div>
    <div ng-click="!isClicked =isClicked">
        <div ng-if="isClicked">

            <div style="width: 60px; height: 50px; float: right;">
                <i id="profileinterestsediticondoneediting" class="material-icons">&#xE86C;</i>
                <p class="profiledoneeditingtext">Done editing</p>
            </div>

        </div>
    </div>
        
    <div>
        <div id="profilemodalbackground" class="profilemodaldiv" onclick="profilemodalaway('profilemodalbackground','profilemodal')"></div>
        <div id="profilemodal" class="profilemodalwhitespace">
            <p class="profilemodalwords">Log out?</p>
            <div class="profilemodalyes" ng-click="logout()">Yes</div>
            <div class="profilemodalno" onclick="profilemodalaway('profilemodalbackground','profilemodal')">Nope</div>
        </div>
    </div>
</div>


<div class="notheaderdiv" ng-repeat="p in profile">
        
        <div class="profiletopdivbackgroundblur" style="background-image: url({{p.ProfilePic}});"></div>
        <div class="profiletopdivbackgroundpic"></div>
        <div class="profiletopdiv">
            <div class="profiletopprofilepictureholderdiv">			
                <img class="profiletopprofilepiccircle" src={{p.ProfilePic}}>
            
                <h1 class="profiletopname">{{p.FirstName}} {{p.LastName}}</h1>
            </div>
        </div>
    
        <div class="profileoptionchooser">
            <div id="interestsID" class="profileoptiondiv" onclick="showPastwimsTab()" style="color: #2196F3;">
                <i class="material-icons profileoptionpic">&#xE88E;</i>
                <p class="profileoptionchoosertext">Interests</p>
            </div>
                    
            <div id="friendsID" class="profileoptiondiv" onclick="showFriendsTab()">
                <i class="material-icons profileoptionpic">&#xE7FB;</i>
                <p class="profileoptionchoosertext">Friends</p>
            </div>
                    
            <div id="contactinfoID"class="profileoptiondiv" onclick="showUserinfoTab()">
                <i class="material-icons profileoptionpic">&#xE87C;</i>
                <p class="profileoptionchoosertext">Contact Info</p>
            </div>

        </div>

        <div class="profilebottomdiv">
            <div id="pastwims" class="profilebottompastwimsdiv" style="z-index: 1;">
                <div style="height: calc(100vh - 35vh - 79px); width: 100%; overflow: hidden; overflow-y: scroll; background-color: #E0E0E0;">
                    
                    <div class="profilefriendscarddiv">
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE8D1;</i>
                            <p class="profileintereststext">Shopping</p>    
                            <div ng-if="isClicked">                                 
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>             
                            </div>
                            
                                
                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE195;</i>
                            <p class="profileintereststext">Traveling</p>
                            <div ng-if="isClicked">
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE3B7;</i>
                            <p class="profileintereststext">Painting</p>
                            <div ng-if="isClicked">                                 
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE407;</i>
                            <p class="profileintereststext">Nature</p>
                            <div ng-if="isClicked">                                 <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>                             </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE405;</i>
                            <p class="profileintereststext">Music</p>
                            <div ng-if="isClicked">                                 <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>                             </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE412;</i>
                            <p class="profileintereststext">Photography</p>
                            <div ng-if="isClicked">                                 
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>            
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE52F;</i>
                            <p class="profileintereststext">Cycling</p>
                            <div ng-if="isClicked">                                 
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>             
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE566;</i>
                            <p class="profileintereststext">Running</p>
                            <div ng-if="isClicked">                                 
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>                   
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE541;</i>
                            <p class="profileintereststext">Coffee</p>
                            <div ng-if="isClicked">                                 
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>    
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xE556;</i>
                            <p class="profileintereststext">Cooking</p>
                            <div ng-if="isClicked">                               
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>    
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xEB43;</i>
                            <p class="profileintereststext">Gains</p>
                            <div ng-if="isClicked">                                
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i> 
                            </div>

                        </div>
                        <div class="profileinterestsdiv">
                            <i id="profileinterestsimgicon" class="material-icons">&#xEB48;</i>
                            <p class="profileintereststext">Swimming</p>
                            <div ng-if="isClicked">                                 
                                <i id="profileinterestsediticoninterests" class="material-icons">&#xE92B;</i>
                            </div>

                        </div>
                        
                        <!--This first button is a hyperlink to the Create New Wim page-->
                        <button type="button" onclick="" class="currentwimaddwimbutton"><i class="material-icons" style="font-size: 27px; position: absolute; right: 5vw; top: calc(65vh - 180px); bottom: 0;">&#xE145;</i></button>
                    </div>
                </div>
                <!-- #commenting out past wims
                <div class="currentwimsindividualdiv" ng-repeat="pastWim in pastWims | filter:{ title: searchFor} | orderBy: 'date'">
                        <a href="#wimInfo">
                        <div class="currentwimswimtypeimg">
                            <i id="notificationstypeimage" class="material-icons">{{ pastWim.wimIcon }}</i>
                        </div>
                        <div class="currentwimswimnameanddestinationholder">
                            <p class="currentwimswimname">{{ pastWim.wimName }}</p>
                            <p class="currentwimswimdestination">{{ pastWim.destination }}</p>
                        </div>
                        <div class="currentwimparticipantsdiv">
                            <img class="currentwimparticipantsimg" src="user_profile_pics/74.jpg">
                            <img class="currentwimparticipantsimg" src="user_profile_pics/74.jpg">
                            <img class="currentwimparticipantsimg" src="user_profile_pics/74.jpg">
                            <div class="currentwimparticipantsimg">{{ pastWim.attendees }}</div>
                        </div>
                        <div class="currentwimswimtimesdiv">
                            <p class="currentwimscountdown">20 days</p>
                            <p class="currentwimsactualtime">{{ pastWim.dateTime }}</p>
                        </div>
						</a>
                </div>
                -->


            </div>
            <div id="friends" class="profilebottomfriendsdiv" ng-controller="FriendController" style="z-index: 2; opacity: 0;">
                <div style="height: calc(100vh - 35vh - 79px); width: 100%; overflow: hidden; overflow-y: scroll;">
                    
                    <div class="profilefriendscarddiv" style="min-height: calc(90% - 35px); background-color: white;">
                        <!--
						<div onclick="testbutton('03')" id="03" class="eachfriend">
                            <img src="profile_pics/inari_boy.png" class="myfriendspic">
                            <p class="myfriendsname">Kenta Ito</p>
                        </div>
                        -->
                        <div onclick="testbutton('03')" id="03" class="eachfriend" ng-repeat="friend in friends" >
                            <img src={{friend.ProfilePic}} class="myfriendspic">
								<p class="myfriendsname">{{friend.FirstName}} {{friend.LastName}}</p>
                        </div>
                      
                    </div>
                </div>
                    
                
                
            </div>
            <div id="info" class="profilebottominfodiv" style="opacity: 0;" ng-repeat="p in profile">
                <div style="height: calc(100vh - 35vh - 79px); width: 100%; overflow: hidden; overflow-y: scroll;">
                    <div class="profileinfoleftdiv">
                        <div class="profilefriendscarddiv">

                            <div class="profileinterestsdiv">
                                <i id="profileinterestsimgicon" class="material-icons">&#xE0CD;</i>
                                <p class="profileinfoleftinfotitle">Phone</p>
                                <p class="profileinfoleftinfoinformation">{{p.PhoneNumber}}</p>
                                <i id="profileinterestsediticoncontactinfo" class="material-icons">&#xE254;</i>
                            </div>

                            <div class="profileinterestsdiv">
                                <i id="profileinterestsimgicon" class="material-icons">&#xE0E1;</i>
                                <p class="profileinfoleftinfotitle">Email</p>
                                <p class="profileinfoleftinfoinformation">{{p.email}}</p>
                                <i id="profileinterestsediticoncontactinfo" class="material-icons">&#xE254;</i>

                            </div>

                            <div class="profileinterestsdiv">
                                <i id="profileinterestsimgicon" class="material-icons">&#xE7F1;</i>
                                <p class="profileinfoleftinfotitle">Location</p>
                                <p class="profileinfoleftinfoinformation">{{p.city}}, {{p.state}}</p>
                                <i id="profileinterestsediticoncontactinfo" class="material-icons">&#xE254;</i>

                            </div>

                            <div class="profileinterestsdiv">
                                <i id="profileinterestsimgicon" class="material-icons">&#xE7E9;</i>
                                <p class="profileinfoleftinfotitle">Birthday</p>
                                <p class="profileinfoleftinfoinformation">{{p.birthday}}</p>
                                <i id="profileinterestsediticoncontactinfo" class="material-icons">&#xE254;</i>

                            </div>

                            <div class="profileinterestsdiv">
                                <i id="profileinterestsimgicon" class="material-icons">&#xE63D;</i>
                                <p class="profileinfoleftinfotitle">Gender</p>
                                <p class="profileinfoleftinfoinformation">{{p.gender}}</p>
                                <i id="profileinterestsediticoncontactinfo" class="material-icons">&#xE254;</i>

                            </div>

                            <div class="profileinterestsdiv" style="height: 100px;">
                                <i id="profileinterestsimgicon" class="material-icons" style="border-bottom-color: white;">&#xE24D;</i>
                                <p class="profileinfoleftinfotitle">Bio</p>
                                <p class="profileinfoleftinfoinformation">{{p.bio}}</p>
                                <i id="profileinterestsediticoncontactinfo" class="material-icons">&#xE254;</i>

                            </div>
                        </div>
                        <div style="width: 20px; height: 0px; float: left;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- re-implement this:
    $("#button").click(function() {
    $('.transform').toggleClass('transform-active');
    $('.transform2').toggleClass('transform2-active');
    $('.transform3').toggleClass('transform3-active');
    $('.transform4').toggleClass('transform4-active');    
    });
-->