<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">(wimtitle) {{wim.title}} (wim icon)</h1>

</div>

<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: lightgray; position: absolute; overflow: hidden; overflow-y: auto;">

<div class="individualwimtopdiv">
    
</div>
    
<div class="individualwimbottomdiv">
    <div class="individualwimdestinationdiv">
        <i class="individualwimdestinationicon material-icons" style="line-height: 45px; font-size: 20px;">&#xE0C8;</i>
        <p class="individualwimdestination">Destination</p>
        <p class="individualwimdestinationstreetname">Street Name</p>
    </div>
    <div class="individualwimattendeesdiv">
        <i class="individualwimdestinationicon material-icons" style="line-height: 40px; font-size: 20px;">&#xE7FB;</i>
        <div class="individualwimattendees">
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            <div class="individualwimpersonsdiv"></div>
            
        </div>
    </div>
    
</div>

</div>



