<div class="headerdiv">
    <a href="#/">
        <div class="headerbackarrow">
            <i id="headerbackarrowicon" class="material-icons">&#xE314;</i>
        </div>
    </a>
	
    <h1 class="headerpagetitle">Birthday {{wim.title}}</h1>
    <i class="individualwimheadericon material-icons" style="line-height: 45px; font-size: 20px;">&#xE0C8;</i>

</div>

<div style="height: calc(100% - 50px); width: 100vw; top: 50px; background-color: #EEEEEE; position: absolute; overflow: hidden; overflow-y: auto;">

<div class="individualwimtopdiv">
    
</div>
    
<div class="individualwimbottomdiv">
    <div class="individualwimdestinationdiv">
        <i class="individualwimdestinationicon material-icons" style="line-height: 45px; font-size: 20px;">&#xE0C8;</i>
        <p class="individualwimdestination">Destination</p>
        <p class="individualwimdestinationstreetname">Street Name</p>
    </div>
    
    <div class="individualwiminvitedlabeldiv">
        <i class="individualwimdestinationicon material-icons" style="line-height: 40px; font-size: 20px;">&#xE7FB;</i>
        <p class="individualwiminvitedlabelwords">6 People Invited</p>
    </div>
    
    <div class="individualwimattendeesdiv">
        
        <div class="individualwimattendees">
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Going</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #4CAF50;">&#xE5CA;</i>
            </div>
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Going</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #4CAF50;">&#xE5CA;</i>
            </div>
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Maybe</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #FF9800;">&#xE90E;</i>
            </div>
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Maybe</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #FF9800;">&#xE90E;</i>
            </div>
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Decline</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #f44336;">&#xE5CD;</i>
            </div>
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Decline</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #f44336;">&#xE5CD;</i>
            </div>
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Pending</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #9E9E9E;">&#xE422;</i>
            </div>
            <div class="individualwimpersonsdiv">
                <img class="individualwimpersonsimg" src="profile_pics/DrBob.png">
                <p class="individualwimpersonsname">Braxton</p>
                <p class="individualwimpersonresponse">Pending</p>
                <i class="individualwimpersonsresponse material-icons" style="line-height: 17px; font-size: 12px; background-color: #9E9E9E;">&#xE422;</i>
            </div>
            
            
            
        </div>
    </div>
    
    <div class="individualwiminvitedlabeldiv">
        <i class="individualwimdestinationicon material-icons" style="line-height: 40px; font-size: 20px;">&#xE3C8;</i>
        <p class="individualwiminvitedlabelwords">Details</p>
    </div>
    
    <div class="individualwimdetailsdiv">
        <div class="individualwimdetailsdatetime">
            
            <div class="individualwimdetailsdatetimetext">
                <i id="individualwimdetailsdatetimeicon" class="material-icons">&#xE8DF;</i>
                <p style="line-height: 50px;">SAT, JUL 23, 12:00 PM</p>
            </div>
        </div>
    
    </div>
</div>

</div>



