<!DOCTYPE html>
<html>
<head>
    
    <link href="../css/wimmain.css" rel="stylesheet">
    
    <script>


        function fullpage1currentwims() {
            //alert("anything");
            document.getElementById("fullpage1currentwims").style.transform = "translate(0vw, 0px)";
        }

        function backfullpage1currentwims() {
            //alert("anything");
            document.getElementById("fullpage1currentwims").style.transform = "translate(100vw, 0px)";
        }

        function fullpage2myprofile() {
            //alert("anything");
            document.getElementById("fullpage2myprofile").style.transform = "translate(0vw, 0px)";
        }

        function backfullpage2myprofile() {
            //alert("anything");
            document.getElementById("fullpage2myprofile").style.transform = "translate(100vw, 0px)";
        }
        
        function fullpage3newwim() {
            //alert("anything");
            document.getElementById("fullpage3newwim").style.transform = "translate(0vw, 0px)";
        }

        function backfullpage3newwim() {
            //alert("anything");
            document.getElementById("fullpage3newwim").style.transform = "translate(100vw, 0px)";
        }
        
         function fullpage4search() {
            //alert("anything");
            document.getElementById("fullpage4search").style.transform = "translate(0vw, 0px)";
        }

        function backfullpage4search() {
            //alert("anything");
            document.getElementById("fullpage4search").style.transform = "translate(100vw, 0px)";
        }
        
        

        
        

        
    </script>
        
</head>

<body>
    

<div style="width: 100vw; height: 100vh; overflow: hidden; position: absolute; top: 0;  background-color: lightgray;">
    
    <div id="fullpage1currentwims" class="fullpage1currentwims">
        <button onclick="backfullpage1currentwims()">back</button>
    </div>

    <div id="fullpage2myprofile" class="fullpage2myprofile">
        <button onclick="backfullpage2myprofile()">back</button>
    </div>
    
    <div id="fullpage3newwim" class="fullpage3newwim">
        <button onclick="backfullpage3newwim()">back</button>
    </div>
    
    <div id="fullpage4search" class="fullpage4search">
        <button onclick="backfullpage4search()">back</button>
    </div>
    
    
    
    
    <div class="fullpageindexpage">
        
        <button onclick="fullpage1currentwims()">currentwims</button>
        <button onclick="fullpage2myprofile()">my profile</button>
        <button onclick="fullpage3newwim()">new wim</button>
        <button onclick="fullpage4search()">search</button>
        
    </div>

</div>
    
</body>