<!DOCTYPE html>
<html>
<head>
    
    <link href="testapptemplate.css" rel="stylesheet">
    

    <script>

        function myFunction() {
            //alert("anything");
            document.getElementById("fullpage1").style.transform = "translate(100vw, 0px)";
            
        }

        function getblue() {
            //alert("anything");
            document.getElementById("fullpage2").style.transform = "translate(0vw, 0px)";
        }

        function backblue() {
            //alert("anything");
            document.getElementById("fullpage2").style.transform = "translate(100vw, 0px)";
        }

        function getgreen() {
            //alert("anything");
            document.getElementById("fullpage1").style.transform = "translate(0vw, 0px)";
        }

        function backgreen() {
            //alert("anything");
            document.getElementById("fullpage1").style.transform = "translate(100vw, 0px)";
        }

        
        
        
        
        function headertab1() {
            document.getElementById("homepageselecttabselectedbar").style.transform = "translate(0vw, 0px)";
            
        }
        
        function headertab2() {
            document.getElementById("homepageselecttabselectedbar").style.transform = "translate(33.33vw, 0px)";
            
        }
        
        function headertab3() {
            document.getElementById("homepageselecttabselectedbar").style.transform = "translate(66.66vw, 0px)";
            
        }
        
    </script>
        
</head>

<body>

    
    

<div style="width: 100vw; height: 100vh; overflow: hidden; position: absolute; top: 0;  background-color: lightgray;">
    
    <div id="fullpage1" class="fullpage1"><button onclick="myFunction()">back</button></div>

    <div id="fullpage2" class="fullpage2"><button onclick="backblue()">back</button></div>
    
    <div id="fullpage3" class="homepage">
            
        <div class="homepageheader"></div>
        <div class="homepageselecttabdiv">
            <button class="homepageselecttabbutton" onclick="headertab1()">Current WIMs</button>    
            <button class="homepageselecttabbutton" onclick="headertab2()">Friends</button> 
            <button class="homepageselecttabbutton" onclick="headertab3()">Profile</button> 
            <div id="homepageselecttabselectedbar" class="homepageselecttabselectedbar"></div>
        </div>
        
        
        <button onclick="getblue()">Blue</button>
        <button onclick="getgreen()">green</button>
    </div>

</div>
    
</body>